{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}

{% block body %}
<div class="container">
    <div class="position-relative">
        <img src="{{ asset('build/images/3.png') }}" alt="food" class="w-100">
        <h1 class="position-absolute top-50 start-50 translate-middle text-center">Welcome to what to eat!</h1>
    </div>
</div>


<div class="text-center">
		<h2 class="mt-4 mb-4">what food u have ?</h2>
			{% include '/FoodType.html.twig' %}

		{% if meal is not null %}
			<h2>You can prepare:
				{{ meal.name }}</h2>
		{% else %}
			<h2 class="mt-4 mb-4">You can't prepare any meal with the selected ingredients.</h2>
		{% endif %}
		</div>
{% endblock %}
